*{
    margin: 0%;
    padding: 0%;
}

header{
    background-image: url("../imagenes/imagen_dise침o1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.imagen-logo{
    padding-right: 15%;
    padding-top: 12%;
    float: right;
    width: 120px;
    height: 120px;
}


.subtitulo{
    padding-left: 30%;
    font-size: 120%;
    color:white;
    background-color: black;
    border: 10%;
    text-align: center;
    
}

.home{
    text-decoration: none;
    float:left;
    width: 10%;
    padding-top: 4%;
    font-size: 140%;
    
    
}

.parrafo{
    font-size: 140%;
    width: 90%; 
    float:right;
    padding-top: 2%;
    
}

.base{
    padding-left: 1%;
}

.mover{    
    padding-left: 2%;
}

.contact-final{
    padding-top: 4%;


}

/* Comienza la secci칩n de tablas */

.texto-1{
    float: right;
    margin-right: 15%;
}
.menu-calendario{
    text-decoration: none;
    float:left;
    width: 0%;
    padding-top: 4%;
    font-size: 110%;

}
h1{
    text-align: left;
}


h2{
    padding-top: 2%;
    text-align: center;
}

.subtitulo-calendario{
   float: none; 
   margin-left: 13%;
   padding-left: 2%;
}


table {
    width: 70%;
    float: none;
    margin-left: 15%;
    border: 1px solid #000;
    border-collapse: collapse;
 }


 th, td {
    
    width: 20%;
    text-align: left;
    vertical-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    
 }

.informacion-final{
    margin-left: 15%;
}

ul{
    list-style-type: none;
}

.menu-calendario{
    float:left;
    


}
    
   

 /* Comienza la secci칩n de las reglas */

 .menu-bajo{
    text-decoration: none;
    float:left;
    width: 5%;
    padding-top: 9%;
    font-size: 110%;
}

h3{
    text-align: center;
    font-weight: bold;
}

.cen{
    display: flex;
    justify-content: center;   
    font-size: 120%;
}

.sub-par{
    text-align: justify;
    padding-left: 17%;
    padding-right: 15%;
}


.par{
    text-align: justify;
    margin-left: 4%;
}

.sub{
    display: flex;
   
}

h4{
    font-weight: bold;
}

.titulos-list{
    font-size: 110%;
    margin-left: 10%;
    font-weight: bold;
}

ul{
    list-style-type:none;
}

.lista{
    text-align: justify;
    padding-right: 15%;
    padding-left: 15%;
}


/* Comienza la secci칩n del formulario */

.subtitulo-form{
    
    font-size: 120%;
    color:white;
    background-color: black;
    border: 10%;
    text-align: center;
    
}

.home-formulario{
    text-decoration: none;
    float:left;
    width: 7%;
    padding-top: 4%;
    padding-right: 2%;
    font-size: 105%;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.titulo-form{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;

}

.subtitulo-escuelas{
    display: flex;
    justify-content: flex-start;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 9%;
    
}

.subtitulo-posiciones{
    display: flex;
    justify-content: left;
    padding-top: 2%;
    padding-bottom: 1%;
}   

.subtitulo-de-escuelas{
    padding-bottom: 1%;
    font-weight: bold;
    
}

/* menus con divs */



.menu-nombre{
    display: flex;
    justify-items: left;
    
}

.menu-nombre>input{
    width: 100%;
    box-sizing: border-box;
}

.menu-direccion{
    display: flex;
    justify-content: left;
    padding-top: 1%;
}

.menu-direccion>input{
    width: 100%;
    box-sizing: border-box;
}

.menu-ciudad{
    display: flex;
    padding-top: 1%;
}

.menu-ciudad>input{
    width: 70%;
    box-sizing: border-box;
}

.menu-datsex{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    
}

.menu-grado{
    display: flex;
    padding-top: 1%;
}

/* PREGUNTA DE FORMULARIOS */


.escuela-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}
.menu-escuela{
    display: flex;
    flex-direction: column;
}
.menu-escuela-2{
    display: flex;
    flex-direction: column;
}


.menu-posicion-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.menu-posicion-uno{
    display: flex;
    flex-direction: column;
}

.menu-posicion-dos{
    display: flex;
    flex-direction: column;
}



.menu-principal-uniformes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
}
.uniformes-uno{
    display: flex;
    flex-direction: column;
}
.uniformes-dos{
    display: flex;
    flex-direction: column;
}


.menu-firma{
    display: flex;
    justify-content: left;
    justify-content: space-between;
    padding-top: 1%;
}

.menu-firma>input{
    width: 80%;
    box-sizing: border-box;
}

.boton-envio-formulario{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-color: aqua;

}